<% @story_list.each do |a| %>
  <% if a.question %>
    <% if (Response.where(user_id: current_user.id, target_id: User.where(uid: @friend_id).ids[0], question_id: a.question.id).exists?) %>
    
    <% else %>
      <p>   <%= a.speaker %> : <%= a.content %></p>
      
      <% a.question.choices.each do |x,y|%>
        
          <%=form_tag "/answer_friend/update_by_friend", method: "post" do%>
            <input type="hidden" name="target_id" value="<%=@friend_id%>">
            <input type="hidden" name="question_id" value="<%=a.question.id%>">
            <input type="hidden" name="my_ans" value="<%=x%>">
            <p>   <button class="btn btn-defalut" href="#"><%= y['contnt']%></button></p>
          <% end %>
        
      <% end %>
    
    <% end %>
    
  <% end %>
<% end %>